@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 40px;
  background-color:#f6da5e;
}

.left {
  width: 25%;
  text-align: center;
}

.basic{
  background-color:#fffcf4; 
  padding: 30px; 
  border-radius: 10px;
}

.left img{
  display: block;
  margin: auto;
  height: 400px; 
  width: 270px;
  border-radius: 70%;
}

.left h1, h3{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.right {
  width: 75%;
  padding-left: 30px;
}

h2{
  font-family: 'Eczar', serif;
  font-size: 30px;
  margin: 0;
}

.right h4, p{
  margin: 10px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

.right p{
  padding-bottom: 10px;
}

.right li{
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.fab, .fas {
  border: rgb(54, 47, 47);
  font-size: 1.5em;
  width: 3em;
  height: 3em;
  margin: 5px;
  color: rgb(54, 47, 47);
}